* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  /* font-size: 1.1em; */
  font-family: "Noto Sans JP", sans-serif;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background-color: #FFF5E2;
}

.main-content {
  width: 800px;
  background-color: #FFFFFF;
  /* margin: 0 auto; */
}

#head {
  width: 100%;
  height: 100px;
  background-color: #FDBB40;
  line-height: 100px;
}

#burger-container {
  padding: 30px;
}

main {
  width: 100%;
}

.ingredient-container {
  display: flex;
}

#first-group span, #second-group span {
  font-size: 0.5em;
  color: red;
}

form {
  line-height: 1.8;
}

footer {
  height: 80px;
  line-height: 80px;
  background-color: #D33359;
  color: #FFFFFF;
  padding: 0 30px;
  font-size: 1.5em;
}

#total-div {
  display: flex;
  justify-content: space-between;
}

#total-div span {
  font-weight: bolder;
}
